.top-container {
  font-family: sans-serif;
  padding: 25px 130px;
  background-size: cover;
  background-color: #f5f5f5;
}

.input-container {
  background: #ffffff;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 480px;
  height: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 1px 0 gray;
}

.main-container {
  display: flex;
  margin-top: 60px;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 100px;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 80px;
}

.list-container {
  display: flex;
}

.logo {
  width: 200px;
  height: 80px;
}

.list-item {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  list-style: none;
  margin-right: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-button {
  background: linear-gradient(247.5deg, #fd8231 8.14%, #ff6e0e 83.6%);
  border-radius: 85px;
  padding: 10px;
  border-width: 0px;
  color: #ffffff;
  font-weight: 600;
  min-width: 150px;
  box-shadow: -1px 8px 15px gray;
  font-size: 15px;
}

.en {
  color: #ff6e0e;
  font-weight: 600;
}

.cart {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
}

.input-text {
  color: #c9c9c9;
  width: 350px;
  margin-left: 15px;
  font-size: 15px;
}

.icon {
  color: #ff6e0e;
}

.question {
  padding-top: 4px;
  padding-bottom: 16px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  text-decoration-line: underline;
  color: #4d148c;
}

.shop {
  font-weight: 700;
  font-size: 26px;
  margin-top: 0px;
  text-align: left;
  color: #4d148c;
}

.tax {
  color: #fd8231;
  text-align: right;
  margin-top: 0px;
  font-size: 18px;
}

.shipping {
  width: 440px;
  margin-bottom: 20px;
}

.span {
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 2px;
  word-spacing: 2px;
}

p {
  font-size: 25px;
}

.box {
  width: 512px;
  margin-bottom: 15px;
}

.quote {
  background: linear-gradient(247.5deg, #fd8231 8.14%, #ff6e0e 83.6%);
  border-radius: 85px;
  padding: 20px;
  border-width: 0px;
  color: #ffffff;
  font-weight: 600;
  min-width: 200px;
  box-shadow: -1px 8px 15px gray;
  font-size: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.stars {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.star-img {
  height: 40px;
  width: 180px;
}
.container2{
  display:flex;
  flex-direction: column;
}

.line {
  position: absolute;
  left: 149px;
  top: 460px;
  height: 50px;
}

.howit-works {
  background: linear-gradient(247.5deg, #4d148c 8.14%, #4d148c 83.6%);
  cursor: pointer;
  border-radius: 85px;
  padding: 20px;
  border-width: 0px;
  color: #ffffff;
  font-weight: 600;
  min-width: 200px;
  box-shadow: -1px 8px 15px gray;
  font-size: 15px;
  margin-top: -5px;
  align-self: center;
}
