.tab-item {
    list-style: none;
  }

  .tab-item-button {
    color:#09005D;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .active-tab {
    color: #F57921;
    border-bottom: 3px solid #F57921;
  }