

* {
	box-sizing: border-box;
}
.dashboard-main-container {
	width: 200px;
	margin: 20px;
	display: flex;
	height: auto;
}
.dashboard-list-container {
	background-color: #F57921;
	padding-inline-start: 0px;
	padding-top: 25px;
	padding-left: 25px;
	margin-right: 20px;
}
.dashboard-list-item {
	list-style: none;
	height: 50px;
}
.list-button:hover{
	cursor: pointer;
}

.list-button {
	background-color: transparent;
	color: #fff;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	border-width: 0px;
	padding: 15px;
	list-style: none;
	text-align: left;
}
.active-button {
	background-color: #fff;
	color: #F57921;
	width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
