

.order-details-container{
    display: flex;
    flex-direction: column;
    width: 1100px;
    gap: 16px;
}
.order-details-main-heading{
color: #F57921;
font-family: "Inter";
font-size: 20px;
font-weight: 700;
line-height: 18px;
text-align: left;
}
.arrow-down{
    display: flex;
    align-items: center;
    gap: 6px;
}
.order-details-name{
    border: none;
    min-width: 130px;
    padding-left: 22px;
}
.order-details{
    display: flex;
    width: 80%;
}
.order-details-values{
    display: flex;
}
.order-value{
    font-size: 12px;
   width:fit-content; 
}
.table-order{
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}
.thead-heading{
    text-align: left;
    background-color: #4D148C;
    height: fit-content;
    color: #FFFFFF;
}
.thead-heading,td{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.table track{
    padding: 10px 0;
}
.track:nth-child(even) {background-color: #f2f2f2;}
