$width:100%;
$height:100%;
$display:flex;
$background-color:Persian Indigo;
$flex-direction:column;
$text-align:left;
$justify-content:space-between;


.blog-main{
    width: $width;
}
.blog-heading{
    width: $width;
    background-color:#4D148C;
    box-shadow: 0 1px 2px #000000;
    height: 70px;
    display: $display;
    align-items: center;
}
.blog-heading h1{
    color: #ffffff;
    font-size: 30px;
    padding: 0 140px;
    font-weight: 600;
    text-shadow: 0 0 1px white;
}
.blog-data{
    width: 80%;
    margin: auto;
    display: $display;
    justify-content: $justify-content;
    padding: 70px 0;
    gap: 48px;
}

.blog-data-phn{
    display: $display;
    flex-direction: $flex-direction;
    align-items: center;
    margin: 30px 0 20px;
}
.blog-heading-phn{
    width: 100%;
    background-color:#4D148C;
    box-shadow: 0 1px 2px #000000;
    height: 70px;
    display: $display;
    align-items: center;
    justify-content: center;
}
.blog-heading-phn h1{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 0 1px white;
}

.blog-data-left{
    width: 65%;
    display: $display;
    flex-direction: $flex-direction;
    gap: 24px;
}

.blog-data-left h3{
    font-size: 22px;
    color: #596F7B;
}
.blog-data-left p{
    color: #596F7B;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.blog-data-left h4{
    color: #596F7B;
    font-size: 15px;

}


.blog-data-left img{
    width: 100%;
}

.blog-data-right{
    width: 30%;
    display: $display;
    flex-direction: $flex-direction;
    gap: 24px;
}
.blog-data-right-phn{
    display: $display;
    flex-direction: $flex-direction;
    width: 60%;
    gap: 16px;
    margin-top: 20px;
}

.blog-recent, .blog-categories, .blog-archives{
    width: 100%;
    border-radius: 10px;
}

.blog-recent{
    background-color: #F9F8FB;
    border: 2px solid #E9E6EC;
    color: #4D148C;
}
.blog-recent h3+hr, .blog-categories h3+hr{
    border-top: 1px solid #4D148C;
    margin-top: 8px;
}

.blog-categories{
    background-color: #F1E5FE;
    border: 2px solid #E1C7FD;
    color: #4D148C;
 }

.blog-archives{
    background-color: #FFEFE6;
    border: 2px solid #FFD6BD;
    color: #FF6200;
}

.blog-archives h3+hr{
    border-top: 1px solid #FF6200;
    margin-top: 8px;
}

.blog-section-right{
    padding: 25px 25px 35px;
    display: $display;
    flex-direction: $flex-direction;
    gap: 16px;
}
.blog-section-right-phn{
    padding: 25px 25px 35px;
    display: $display;
    flex-direction: $flex-direction;
    gap: 16px;
}

.blog-section-right h3{
    font-size: 22px;
    font-weight: 700;
}

.blog-section-right img{
    width: 78px
}
.blog-section-right-phn img{
    width: 78px;
}
.blog-list{
    padding: 0 0 0 20px;
}
.blog-list li{
    padding: 5px 0;
    list-style: disc;
    font-weight: 500;
}
.blog-recent-img-data{
    display: $display;
    gap: 1rem;
}
.blog-recent-img-data h6{
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}
.cal-icon{
    font-size: 18px;
}
#current-date{
    color: #FF6200;
    font-size: 11px;
}
.current-date{
    color: #596F7B;
    font-size: 11px;
    padding: 6px 0 0;
}
.share{
    color: #FF6200;
    display: $display;
    gap: 1rem;
}
.view-more{
    background-color: #4D148C;
    width: 130px;
    box-shadow: 0 2px 5px #596F7B;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 30px;
}