$width:100%;
$height:100%;
$display:flex;
$background-color:Persian Indigo;
$flex-direction:column;
$text-align:left;
$justify-content:space-between;

.User-Profile{
    width: $width;
    height: $height;
}
.User-Profile-Heading{
    background-color: #4d148c;
    height: 70px;
    display: $display;
    align-items: center;
}
.User-profile-head-phn{
    background-color: #4d148c;
    height: 70px;
    display: $display;
    align-items: center;
    justify-content: center;
}

.User-Profile-Heading h1{
    color: #FFFFFF;
    margin-left: 130px;
}
.User-profile-head-phn h1{
    color: #FFFFFF;
}

.User-Profile-list{
list-style: none;
padding: 5px 0;
}
.User-Profile-list li{
    padding: 10px 15px;
    color: #FFFFFF;
    border-radius: 10px 0 0 10px;
    margin-left: 15px;
}

.User-Profile-list li:hover{
    color: #FF6200;
    background-color: #FFFFFF;
}
.User-Profile-data{
    width: 80%;
    margin: 20px auto;
    display: $display;
    gap: 32px;
}
.user-prof-phn{
    display: $display;
    flex-direction: $flex-direction;
    width: 80%;
    margin: 20px auto;
}

.UsrProfAddrs{
    width: 100%;
    display: $display;
    flex-direction: row;
    gap: 10px;
}

.UsrPrfAdrs-phn{
    display: $display;
    flex-direction: $flex-direction;
    width: fit-content;
}
span{
    font-size: small;
    display: block;
}

.User-Profile-container{
    display: $display;
    flex-direction: $flex-direction;
    width: 75%;
    gap: 16px;
    justify-content: $justify-content;
}

.User-Profile-container h4{
    color: #FF6200;
    font-size: 18px;
    text-align: start;
}

.address-add-btn{
    text-align: center;
}
.add-address{
    width: fit-content;
    border: 1px solid darkmagenta;
}
.add-btn{
    font-size: 80px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}


.checkbx{
    margin-top: 10px;
    font-size: 14px;
}


.eachAddress{
    width: 200px;
    height: 150px;
    display: $display;
    flex-direction: $flex-direction;
    padding-left: 10px;
    align-items: flex-start;
    justify-content: center;
    background-color: #FFFAF7;
    border: 1px solid #DDEDF7;
    margin: 0;
}
.eachAddress-phn{
    width: 200px;
    height: 150px;
    padding-left: 10px;
    background-color: #FFFAF7;
    border: 1px solid #DDEDF7;
}
.eachAddressBtn{
    width: 210px;
    height: 150px;
    display: $display;
    align-items: center;
    justify-content: center;
    background-color: #FFFAF7;
    border: 1px solid #DDEDF7;
}
.eachAddressBtn-phn{
    width: 210px;
    height: 150px;
    display: $display;
    align-items: center;
    justify-content: center;
    background-color: #FFFAF7;
    border: 1px solid #DDEDF7;
}
.address-top{
    width: $width;
    display: $display;
    justify-content: $justify-content;
}
.eachAddress h3{
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0 10px;
}
.eachAddress-phn h3{
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;
}
.eachAddress p, .eachAddress-phn p{
    font-size: 12px;   
}
.addressList{
    display: $display;
    width: fit-content;
    gap: 15px;
}
.addressList-phone{
    display: $display;
    flex-direction:$flex-direction;
    width: fit-content;
    gap: 15px;
}
