.login{
    color:black;
    border: none;
    height: 35px;
    background: orange;
    border-radius: 20px;
    
}
.login:hover{
    background: orange;
}
.navbar:hover{
    background: white;
}
.navBar-container {
    display: flex !important;
    justify-content: center;
    padding: 10px 24px;
}